.left{
text-align: left;
font-weight: 700;
}

.over{
    display: flex;
    margin: .5rem 0;
    justify-content: space-between;
}

.ovrt{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
}

.overt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3rem;
border: .1rem solid black;
padding: .1rem .5rem;
}